In [1]:
import pandas as pd
import numpy as np

df =pd.read_excel('1.et')

In [2]:
df.head()

  对接HR 本周进展 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
0  NaN   初试   复试\n（业务）   复试\n（HR）  复试\n（CEO）    offer人员       入职人员
1   董博   25         10        NaN        NaN          1          5
2  盖庆彬    8          1        NaN        NaN        NaN        NaN
3   菅瑞    9          2        NaN        NaN        NaN        NaN
4   卢策   12          7        NaN          1          4        NaN