In [1]:
import tensorflow as tf
import pandas as pd
import sys

In [2]:
print('Python version ' + sys.version)
print('Tensorflow version ' + tf.VERSION)
print('Pandas version ' + pd.__version__)

Python version 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD64)]
Tensorflow version 1.12.0
Pandas version 0.23.4

In [21]:
# Create dummy data in pandas
df = pd.DataFrame({'a':[2,4,6,8], 'b':[2,3,3,3]})
df

   a  b
0  2  2
1  4  3
2  6  3
3  8  3

In [17]:
a = tf.placeholder(tf.float32, name = 'var_aa')
b = tf.placeholder(tf.float32, name = 'var_bb')

# multiply a * b
c = tf.multiply(a, b)

In [20]:
# Run your graph inside a session
with tf.Session() as sess:
    # This is how you feed data in
    print(sess.run(c, feed_dict = {a:df['a'].tolist(), b:df['b'].tolist()}))

[ 4. 12. 18. 24.]